<nav class="navbar navbar-dark navbar-expand-lg bg-dark nav-container">
    <div class="nav-items">
        <a class="navbar-brand" href="#" routerLink="/">Take Notes</a>
        <a class="nav-link" href="#" routerLink="/notes">Notes</a>
        <a class="nav-link" href="#" routerLink="/bin">Bin</a>
    </div>
    <div class="action">
        <a href="#" *ngIf="isLoggedIn" (click) = "logout()">Logout</a>
        <a href="#" data-toggle="modal" data-target="#myModal" *ngIf="!isLoggedIn">Log-in</a>
    </div>
</nav>
    
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div *ngIf="forgetpass === 0" class="modal-body">
                <form class="new-user">
                    <label for="text">Email:</label>
                    <input type="text" class="email" name="email" [(ngModel)] = "email">
                    <label for="text">Password:</label>
                    <input type="password" class="password" name="password" [(ngModel)] = "password">
                </form>
                <div class="action">
                    <button *ngIf="isNewUser" class="btn btn-success" (click)="log_in()" data-dismiss="modal">Register</button>
                    <button *ngIf="isRegUser" class="btn btn-success" (click)="log_in()" data-dismiss="modal">Sign-in</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

            <div *ngIf="forgetpass === 2" class="modal-body">
                <form class="new-user">
                    <label for="text">OTP:</label>
                    <input type="text" class="otp" name="otp" [(ngModel)] = "otp">
                    <label for="text">New Password:</label>
                    <input type="password" class="password" name="password" [(ngModel)] = "password">
                    <label for="info"><small>Check mail for OTP</small></label>
                </form>
                <div class="action">
                    <button class="btn btn-success" (click)="newp()" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

            <div *ngIf="forgetpass === 1" class="modal-body">
                <form class="new-user">
                    <label for="text">Email:</label>
                    <input type="text" class="email" name="email" [(ngModel)] = "email">
                </form>
                <div class="action">
                    <button class="btn btn-success" (click)="requestpass()" data-dismiss="modal">Request OTP</button>
                    <button class="btn btn-success" (click)="forgetpass = 2" data-dismiss="modal">Enter OTP</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer" style="display: flex;flex-flow: column;justify-content: center;">
                <p *ngIf="isRegUser">Do not have a account? <a (click)="toggleUser(0)">Click Here!</a></p>
                <p *ngIf="isNewUser || forgetpass!=0">Already Have an account? <a (click)="toggleUser(1)">Click Here!</a></p>
                <p *ngIf="isRegUser || forgetpass!=1" >Forgot Password? <a (click)="forgetpass = 1">Click Here!</a></p>
            </div>
        
        </div>
    </div>
</div>

<div id="loginstatus" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-msg" style="justify-content: center; align-items: center;padding:10px">
        <h5>{{ msg }}</h5>
        <button type="button" class="btn btn-primary" (click)="changemodal()">Ok</button>
        </div>
    </div>
</div>