.notes-container {
    height: 100vh;
    padding: 5%;
    padding-top: 84px;
    background: rgb(233, 232, 238);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.notes-group {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.note {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    max-width: 30%;
    padding: 2%;
    margin: 2%;
    overflow: auto;
}

small {
    margin: 2%;
}

h6 {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}