<div class="notes-container">
    <div *ngIf="notes && !bin" class="notes-group">
        <div *ngFor="let note of notes" class="note" data-simplebar>
            <h6>{{note.title}}</h6>
            <p>{{note.desc}}</p>
        </div>
    </div>
    <div *ngIf="dnotes && bin" class="notes-group">
        <div *ngFor="let note of dnotes" class="note">
            <h6>{{note.title}}</h6>
            <p>{{note.desc}}</p>
        </div>
    </div>
    <small *ngIf="bin">Notes in bin stays untill you close the application.</small>
</div>

<div id="fetchstatus" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-msg" style="justify-content: center; align-items: center;padding:10px">
        <h5>{{ msg }}</h5>
        </div>
    </div>
</div>