.notes-container {
    height: 100vh;
    padding: 5%;
    padding-top: 84px;
    background: rgb(233, 232, 238);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.notes-group {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% 25% 25% 25%;
}

.note {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 5%;
    margin: 2%;
}

small {
    margin: 2%;
}

h6 {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.simplebar-content {
    padding: 0px;
}

.cover {
    height: 80%;
    overflow: auto;
}

.fa {
    margin: 0px 10px;
}

.note-head {
    display: flex;
    justify-content: space-between;
}

.ncover {
    margin: 15px;
}