<div class="add-container">
    <div class="note">
        <input type="text" placeholder="title" name="title" [(ngModel)]="title">
        <textarea name="" id="" cols="30" rows="10" placeholder="note"  name="desc" [(ngModel)]="desc"></textarea>
        <button class="btn btn-primary" (click)="create()">Save</button>
    </div>
</div>

<div id="status" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-msg">
        <h5>{{ msg }}</h5>
        </div>
    </div>
</div>